<div class="col-sm-6 col-sm-offset-2">

<h2>修改設定</h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name, label: "姓名" %>
    <%= f.input :email, required: true, autofocus: true %>
    <%= f.input :budget_per_day, label: "每日預算" %>

    <%= f.label "新增分類", data: {'toggle' => "collapse", 'target' => "#collapse_section1"} %>
    <%= f.label "刪除分類", data: {'toggle' => "collapse", 'target' => "#collapse_section2"} %>

    <div id="collapse_section1" class="collapse">
    <%= f.input :add_new_group, label: false %>
    </div>
    
    <div id="collapse_section2" class="collapse">
    <%= f.collection_radio_buttons( :delete_group, @collection_group, :first, :last,    item_wrapper_tag: :div, item_wrapper_class: :radio) { 
            |b| content_tag(:label) { b.radio_button + b.label } 
          }  
    %>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
    <% end %>

    <%= f.input :password, autocomplete: "off", hint: "leave it blank if you don't want to change it", required: false %>
    <%= f.input :password_confirmation, required: false %>
    <%= f.input :current_password, hint: "we need your current password to confirm your changes", required: true %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Update" %>
  </div>
<% end %>

<h3>Cancel my account</h3>

<p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

<%= link_to "Back", :back %>

</div>