<div class="row">

	<div class="col-md-10 col-md-offset-1">
		<div class="page-header">
		  <h1>個人資料與支出</h1>
		</div>
	</div>

	<div class="row">

		<div class="col-md-5 col-md-offset-1">
			<div class="panel panel-default panel-body">
			  <ul><label>姓名 :</label><%= @user.name %></ul>
			  <ul><label>Email :</label><%= @user.email %></ul>
			  <ul><label>每日預算 :</label><%= @user.budget_per_day %></ul>
			  <ul>
			  <%= link_to '新增支出', new_payment_path %>
			  <%= link_to '修改支出', payments_path %>
			  <%= link_to '資料設定', edit_user_registration_path %>
				</ul>
			</div>
		</div>

		<div class="col-md-5">
			<div class="panel panel-default panel-body" data-remote:'true'>
				<div id="slot-machine" data-coin="<%= @user.coin %>" data-userid="<%= @user.id %>">
					<label>剩餘硬幣 :</label><%= @user.coin %>
					<canvas id="SlotCanvas" width="200" height="100"></canvas>
		  		<button type="button">Spin</button> 
				</div>
			</div>
		</div>

	</div>

</div>

<div class="row">
	<div class="col-md-5 col-md-offset-1">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h2 class="panel-title">本日支出</h2>
			</div>

			<table class="table">
			<thread>
				<tr>
				<th>日期</th>
				<th>項目</th>
				<th>花費</th>
				<th>分類</th>
				<th colspan="4"></th>
				</tr>
			</thread>

			<tbody>
				<% @payments.each do |pay| %>
				<tr>
					<td><%= pay.date.strftime("%I:%M %P") %></td>
					<td><%= pay.item %></td>
					<td><%= pay.cost %></td>
					<td><%= pay.group %></td>
				</tr>
				<% end %>
			</tbody>
			</table>
		</div>
	</div>

	<div class="col-md-5">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">統計資料</h2>
			</div>

			<div class="panel-body">
				<ul class="list-group">
				  <li class="list-group-item">本日總支出: <%= @today_sum %></li>
				  <li class="list-group-item">昨日總支出: <%= @yesterday_sum %></li>
				</ul>
			</div>
		</div>
	</div>
</div>
