<div class="col-lg-2">

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><%= @payment.item %></h3>
  </div>

  <div clas="panel-body">
    <ul><%= @payment.date %></ul>
	<ul><%= @payment.item %></ul>
	<ul><%= @payment.cost %></ul>
  </div>

<%= link_to 'Back', user_payments_path( @user ) %>
<%= link_to '編輯', edit_user_payment_path(@user, @payment) %>
<%= link_to '刪除', user_payment_path(@user, @payment), :method => :delete %>

</div>

</div>